<!DOCTYPE html>
<html>
	<head>
	  <title>Pairbnbv3</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>

	<%= render 'shared/navbar' %>
	<%= render 'shared/message' %>

		<p class="notice"><%= notice %></p>
	  <p class="alert"><%= alert %></p>

	<div class="container"> 
		
		<%= yield %>
	</div>

	</body>
</html>